.statistics-element-container{
    margin: 10px;
    width: 250px;
    height: 250px;
    background-color: #18181F;
}

.statistics-element{
    display: flex;
    align-items: center;
}

.statistics-element-header-container{
    width:100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #211F2E;
}

.statistics-element-header{
    padding-left: 10px;
    font-size: 25px;
}

.statistics-element-body-container{

}
