.pipeline-container{
    width:100%;
    height: 220px;
}

.pipeline-list{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}

.pipeline-unable-to-load{
    font-size: 30px;
    color: white;
    align-self: center;
}